# LLM
GOOGLE_LLM_MODEL=gemini-2.5-flash
GOOGLE_API_KEY=
# Search
SERPAPI_API_KEY=
# LangSmith Trace
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=ai-travel-assistant
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
